@font-face {
  font-family: 'YouSheBiaoTiHei';
  src: url('../fonts/YouSheBiaoTiHei-2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'zihun143-zhengkuchaojihei';
  src: url('../fonts/zihun143-zhengkuchaojihei.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
